body {
  background: #0d1a2d;
}

main {
  background: #15273f;
  width: 300px;
  height: 500px;
  border-radius: 12px;
  margin: 0 auto;

}

h3 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  margin-left: 20px;
}

h3:hover {
  color: #3cd6e6;
  cursor: pointer;
  transition: 0.2s;
}

p {
  color: rgba(255, 255, 255, 0.24);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 100;
}

.coco {
  display: flex;
  align-items: center;
  color: #3cd6e6;
  margin: 20px 0px 5px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.horloge {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #8bacd9;
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.ligne {
  height: 0.004rem;
  width: 260px;
  background: #8bacd938;
  margin: 0 auto;
  margin-top: 15px;
}

.profile {
  display: flex;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 15px;
  margin-left: 20px;
}

.image {
  width: 25px;
  border: 1px solid white;
  border-radius: 50%;
}

.creation {
  color: #8bacd9c7;
  font-size: 0.89rem;
  font-weight: 100;
  margin-left: 12px;
  margin-right: 5px;
}

.jules {
  color: white;
  font-size: 0.89rem;
  font-weight: 100;
}

.jules:hover {
  color: #3cd6e6;
  cursor: pointer;
  transition: 0.2s;
}

.img {
  border-radius: 10px;
  margin: 0 auto;
  width: 260px;
}

.image-container {
  position: relative;
  width: 260px; /* Taille de l'image */
  /* Ajustez en fonction de l'image */
}

.image-container img {
  width: 100%;
  height: 100%;
  margin-top: 20px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
  background-color: #3cd5e67a; /* Fond bleu transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlaye img {
  max-width: 50px; /* Largeur maximale de l'icône */
  max-height: 50px; /* Hauteur maximale de l'icône */
  width: auto;
  height: auto;
  
}
